.listItem {
  // border: 2px solid red;
  width: 250px;
  background-color: white;
  height: 180px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.wrapper {
  // border: 2px solid white;
  overflow: hidden;
  margin-top: 2.2rem;
  position: relative;
  .sliderarrow {
    width: 30px;
    height: 100%;
    color: rgba(0, 0, 0, 0.318);
    cursor: pointer;
    position: absolute;
    z-index: 999;
    top: 0;
    bottom: 0;
    margin: auto;

    &.right {
      right: 0;
      z-index: 999;
    }
  }
  .containeItems {
    border: 3px solid red;
    display: flex;
    // important property
    gap: 12px;
    width: max-content;
    transform: translateX(0px);
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    scroll-snap-type: x mandatory;
  }
}
