.featurecontainer {
  width: 100%;
  max-height: 45rem;
  position: relative;
  overflow: hidden;
  // for category sections
  .category {
    position: absolute;
    top: 13rem;
    left: 4rem;
    display: flex;
    gap: 12px;
    font-weight: 500;
    font-size: 20px;
  }

  // backdrop Image
  .backdropImg {
    
    opacity: 0.7;
    width: 100%;
    min-height: 350px;
    object-fit: cover;
  }
  // Infomation related to that image
  .info {
    position: absolute;
    top: 26rem;
    left: 56px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 40rem;
    .title {
      font-size: 45px;
      font-weight: bold;
    }
    .overview {
      font-size: 18px;
      font-family: "Courier New", Courier, monospace;
      font-weight: 700;
      // width: 44rem;
      color: white;
      text-overflow: ellipsis;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .buttons {
    display: flex;
    gap: 1.1rem;

    .play {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;
      border-radius: 12px;
      padding: 1.2rem;
      border: transparent;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
    }
    .more {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;
      border-radius: 12px;
      padding: 1.2rem;
      border: transparent;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      background-color: gray;
    }
  }
}
